---
layout: home
description: Nous sommes spécialistes de la création, la réalisation et l’entretien d’aquariums marins haut de gamme. Embellissez un espace avec un aquarium récifal et bénéficiez de toute notre expertise pour que cette expérience soit couronnée de succès.
eleventyNavigation:
  key: Aquarium sur mesure
  order: 2
---

<h1>Aquariums sur-mesure</h1>
<p class="description>">{{ description }}</p>

<h2>Création et installation d'aquariums sur-mesure</h2>
<p>
  Depuis plus de 20 ans, nous réalisons sur-mesure tout types d’aquariums de 1 à 100’000 litres. Préfabriqué en atelier ou collé sur place si nécessaire. Nous pouvons aussi réaliser toutes formes et dimensions de bacs et cuves de décantation.
</p>

<h3>Conception</h3>
<p>
  Nous sommes partenaire dans la réalisation de votre projet. Nous vous guiderons dans vos choix à l’aide d’explications techniques sur le fonctionnement d’un aquarium récifal mais aussi sur les spécificités de la vie en symbiose des différents coraux et poissons. Suite à cet entretien nous vous soumettrons un pré-projet. Nous pouvons également discuter avec les architectes et fournirons des conseils techniques et esthétiques afin d’avoir une intégration optimale de votre aquarium.
</p>

<h3>Réalisation</h3>
<p>
  Lors de la réalisation de votre aquarium, nous nous occuperons du montage complet de l’aquarium, autant du support, de la cuve, des filtres que de la création du décor en pierres vivantes et de la fourniture complète en eau de mer, poissons, coraux et autres invertébrés; sans oublier la programmation des différents systèmes de pilotages.
</p>

<h3>Maintenance</h3>
<p>
  Selon vos souhaits, nous prenons en charge l’entretien régulier de vos installations.
</p>

<h2>Demande d'offre</h2>
<p>
  Aquariums sur mesures, toutes formes et tailles possibles, nous contracter pour un entretien personnalisé pour discuter de votre projet et vous conseiller.
</p>
<a class="calltoaction bg" href="/devis-aquarium/">Réalisation de devis</a>