---
layout: page
description: 
eleventyNavigation:
  key: Contact
  order: 4
---

<h1>Contactez-nous</h1>
<div class="container">
  <div class="col-2">
    <h2>Formulaire</h2>
    <div class="container">
      <form class="" action="">
          <div class="col-2"><input type="text" placeholder="Nom"></div>
          <div class="col-2"><input type="text" placeholder="Prénom"></div>
          <div class="col-1"><input type="email" placeholder="E-mail"></div>
          <div class="col-1"><textarea rows="4" cols="50" placeholder="Message"></textarea></div>
          <div class="col-1"><button type="submit">Envoyer</button></div>
      </form>
    </div>
  </div>
  <div class="col-2">
  <h2>Informations</h2>

  <ul>
    <li>T: <a href="tel:0041795308080">+41 79 530 80 80</a></li>
    <li>F: <a href="tel:0041795308080">+41 21 691 80 80</a></li>
    <li>M: <a href="mailto:info@maximum-marine.ch">info@maximum-marine.ch</a></li>
  </ul>
  
  
  
<h2>Magasin</h2>

<p>Maximum-Marine Champs-Courbes 1 CH-1024 Ecublens</p>

<h2>Horaires</h2>

<p>Samedi de 9h à 17h</p>
<p>Le reste de la semaine uniquement sur rendez-vous</p>
</div>
<div class="col-1">
<iframe class="googlemap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2745.5648826508295!2d6.5486400519170465!3d46.516722779025145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c30e733e15f37%3A0x9a6598a08d7f36c8!2sMaximum-Marine!5e0!3m2!1sfr!2sch!4v1655896434054!5m2!1sfr!2sch" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" data-dashlane-frameid="92"></iframe>
</div>
</div>
