---
layout: home
description: Nous entretenons d’une manière professionnelle votre aquarium récifal, d’eau de mer ou d’eau douce dans les cantons de Vaud, Genève et Neuchâtel. Nous allons aussi dans certaines parties du Valais et du Jura. Autres régions sur demande. N’hésitez pas à nous contacter pour une offre.
eleventyNavigation:
  key: Entretien d'aquarium
  order: 3
---

<h1>Entretien d'aquarium</h1>

<p>{{ description }}</p>

<h2>Tarifs et zones d'intervention</h2>

<p>
    Entretien professionnel complet, fourniture comprise, 2 passages par mois.
</p>

<ul>
    <li>0 à 400 litres = 400.- / mois</li>
    <li>De 400 à 1000 litres : 1.- / litre par mois</li>
    <li>Dès 1000 litres : Nous contracter pour une offre individuelle</li>
    <li>Garantie complète sur le vivant en cas d’installation de l’aquarium par nos soins.</li>
</ul>

<h2>Zones d'activités</h2>

<h3>Zone d’activité en rouge</h3>

<p>
    Déjà régulièrement dans ces zones, seule la prestation vous est facturée.
</p>

<h3>Zone d’activité en orange</h3>

<p>
    Frais de déplacements en sus: xxx .-
</p>

<h3>Autre zone</h3>

<p>
    Sur demande, nous contacter pour une offre personnalisée
</p>

<h2>Expertise</h2>

<h3>Points de situation sur l'aquarium</h3>

<p>Expertise du matériel et conseil d’amélioration, test professionnel ICP-OES de la qualité d’eau en laboratoire (nitrite, nitrates, phosphate,….)</p>

<p>CHF 100.- + frais de déplacement</p>

<ul>
    <li>Expertise pour assurances</li>
    <li>Installation de matériel sur place (écumeur, réacteur à calcaire, Bailing, Apex,…)</li>
    <li>Installation et acclimatation coraux sur site…</li>
    <li>Conseils population poissons: gratuit au magasin le samedi, sur RDV chez vous…</li>
</ul>

<h2>SOS</h2>

<p>Urgences et les dépannages de tous types d’aquariums récifaux.</p>