---
layout: home
eleventyNavigation:
  key: Accueil
  order: 1
---

<h1 class="sr-text">Maximum-Marine <small>Sublimer votre espace</small></h1>

{# {% include "partials/section-making.njk" %}

{# {% include "partials/section-servicing.njk" %} #}

{% include "partials/section-shop.njk" %}