@import 'utils/prism-base16-monokai.dark';

header {
  display: flex;
  align-content: center;
  align-items: center;
  min-width: 100%;

  @include media-query($on-laptop) {
    flex-direction: row-reverse;
    align-content: flex-start;
  }

  .logo {
    margin: 1em;
    @include media-query($on-laptop) {
      margin-left: auto;
    }
    img {
      max-width: 15em;
      height: auto;
      @include media-query($on-laptop) {
        max-width: 10em;
      }
    }
  }

  #menu {
    margin-left: auto;
    margin-right: 3em;
    position: relative;
    @include media-query($on-laptop) {
      margin-right: 0;
      margin-left: 0;
    }
    ul {
      height: 4em;
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      gap: 1em;
      align-items: center;
      @include media-query($on-laptop) {
        flex-direction: column;
        height: 100vh;
        position: absolute;
        width: 100vw;
        margin: -60px 0px 0px -30px;
        padding: 1em;
        padding-top: 5em;

        background: #102846;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      }

      li {
        a {
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;
          color: var(--lt-color-gray-100);
          transition: all ease-in-out 250ms;

          &:hover {
            color: #0098d6;
          }
        }
      }
    }

    #menuToggle {
      & span {
        display: none;
      }

      & input {
        display: none;
      }
    }

    @include media-query($on-laptop) {
      #menuToggle {
        display: block;
        position: relative;
        top: 0px;
        left: 30px;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;

        & input {
          display: block;
          width: 40px;
          height: 32px;
          position: absolute;
          top: -7px;
          left: -5px;

          cursor: pointer;

          opacity: 0; /* hide this */
          z-index: 2; /* and place it over the hamburger */

          -webkit-touch-callout: none;
        }

        & span {
          display: block;
          width: 33px;
          height: 4px;
          margin-bottom: 5px;
          position: relative;

          background: #cdcdcd;
          border-radius: 3px;

          z-index: 1;

          transform-origin: 4px 0px;

          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
        }

        & span:first-child {
          transform-origin: 0% 0%;
        }

        & span:nth-last-child(2) {
          transform-origin: 0% 100%;
        }

        & input:checked ~ span {
          opacity: 1;
          transform: rotate(45deg) translate(-2px, -1px);
          background: #8e8e8e;
        }
        & input:checked ~ span:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }
        & input:checked ~ span:nth-last-child(2) {
          transform: rotate(-45deg) translate(0, -1px);
        }
        & input:checked ~ ul {
          transform: none;
          position: fixed;
        }
      }
    }
  }
}

main {
  flex-grow: 1;
  width: fit-content;
  max-width: 70vw;
  z-index: 1;
  @include media-query($on-laptop) {
    max-width: 95vw;
  }

  .section-page {
    display: flex;
    align-items: center;
    margin-bottom: 4em;
    gap: 3em;
    margin: 8em 0em;
    @include media-query($on-laptop) {
      margin: 0em;
      flex-direction: column;
    }
    & > div {
      width: 50%;
      @include media-query($on-laptop) {
        width: 100%;
      }
    }

    img {
      width: -webkit-fill-available;
      max-width: 30em;
      float: left;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      img {
        float: right;
      }
      @include media-query($on-laptop) {
        flex-direction: column;
      }
    }
  }
}

footer {
  margin-top: 4em;
  min-width: 100%;
  background-color: #fcf7f3;
  color: #102846;

  @include media-query($on-laptop) {
    padding: 0px 1em;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #102846;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  section {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    flex: 0 0 auto;
    gap: 1em;

    & > * {
      flex: 1 1 0;
    }

    @include media-query($on-laptop) {
      flex-direction: column;
    }
  }

  a {
    color: #102846;
  }

  & .logo {
    align-self: center;
  }
}

#copyright {
  font-size: 0.75em;
  text-align: right;
  padding: 0.7em;
  color: #102846;
}

.googlemap {
  width: 100%;
  height: 450px;
}

form {
  display: flex;
  flex-direction: row;
  gap: $gap;
  flex-wrap: wrap;

  input,
  button,
  textarea,
  select {
    width: 100%;
    border: none;
    line-height: 2em;
    padding: 0.7em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button[type='submit'] {
    letter-spacing: 0.5em;
    text-transform: uppercase;
    width: 100%;
    box-shadow: inset 0 0 0 3px #fcf7f3;
    background-color: rgba(65, 70, 76, 0);
    color: #fcf7f3;
    font-weight: bold;
    overflow: hidden;
    transition: all ease-in-out 250ms;

    &:disabled {
      background-color: #102846;
      color: #7b838d;
    }

    &:hover {
      background-color: #102846;
      box-shadow: inset 0 0 0 0px #fcf7f3;
    }
  }

  label {
    display: block;
    margin-bottom: 0.5em;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: $gap;
  flex-wrap: wrap;
  height: 100%;
  align-content: flex-start;

  .col-1 {
    width: 100%;
  }

  .col-2 {
    width: calc(100% / 2 - $gap/2);
    @include media-query($on-laptop) {
      width: 100%;
    }
  }

  .col-3 {
    width: calc(100% / 3 - $gap/1.5);
    @include media-query($on-laptop) {
      width: 100%;
    }
  }
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
}

/* Removes default focus */
input[type="range"]:focus {
 outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;  
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -6px; /* Centers thumb on the track */

  /*custom styles*/
  background-color: #ffffff;
  height: 1rem;
  width: 1rem;
  border-radius: 0.5em;
}

input[type="range"]:focus::-webkit-slider-thumb {   
 border: 1px solid #053a5f;
 outline: 3px solid #053a5f;
 outline-offset: 0.125rem; 
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
 border: 1px solid #053a5f;
 outline: 3px solid #053a5f;
 outline-offset: 0.125rem; 
}
