<section class="section-page">
    <div>
    <h2 class="heading-big"><span class="emphasys">Entretien</span> ponctuel <span class="emphasys">ou</span> régulier <span class="emphasys">de votre aquarium</span></h2>
    <p>
        Nous entretenons d’une manière professionnelle votre aquarium récifal, d’eau de mer ou d’eau douce dans les cantons de Vaud, Genève et Neuchâtel. Nous allons aussi dans certaines parties du Valais et du Jura. Autres régions sur demande. N’hésitez pas à nous contacter pour une offre.
    </p>
    <a href="{{ "/entretien/" | url}}" class="calltoaction">Trouver votre solution parfaite</a>    
    </div>
    <div>
        <img src="./assets/images/round-var-1.png"/>
    </div> 
</section>

