 {% if templateClass == "tmpl-home"%}
<svg id="text-layer-6" class="svgtextbottom" width="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 -100 1000 400">
  <path id="text-curve16" d="M0,100c166.7-6,333.3-6,500,0s333.3,6,500,0" fill="none"></path>
  <text>
    <textPath id="animatetext6" speed="1" delay="1000" fowardletter="E" reverseletter="F" href="#text-curve16" startOffset="-500">
      E
    </textPath>
  </text>
</svg>
{% endif %}
<section>
    <h2 class="sr-text">Informations utile</h2>
    <div class="logo">
        <img src="/assets/images/maximum-marine-blue.svg" width="270" height="76" alt="Maximum Marine"/>
    </div>
    <div>
        <h3>Notre adresse</h3>
        <div>Maximum-Marine</div>
        <div>Champs-Courbes 1</div>
        <div>CH-1024 Ecublens</div>
    </div>
    <div>
        <h3>Nous contacter</h3>
        <ul>
            <li><a class="tel" href="tel:0041795308080">+41 79 530 80 80</a></li>
            <li><a class="fax" href="tel:0041795308080">+41 21 691 80 80</a></li>
            <li><a class="mail" href="mailto:info@maximum-marine.ch">info@maximum-marine.ch</a></li>
        </ul>
    </div>
    <div>
        <h3>Nos horaires</h3>
        <p>Samedi de 9h à 17h</p>
        <p>Le reste de la semaine uniquement sur rendez-vous</p>
    </div>
    <div>
        <h3>Nous rejoindre</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/profile.php?id=100063669185748" alt="suivez nous sur facebook">
                {% FontAwesomeIcon
                    name = "facebook",
                    type = "brand",
                    class = "social",
                    style = ""
                %}
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/maximum_marine/" alt="suivez nous sur facebook">
                {% FontAwesomeIcon
                    name = "instagram",
                    type = "brand",
                    class = "social",
                    style = ""
                %}
                </a>
            </li>
        </ul>    
    </div>
</section>