<div class="container-video">
<video  
playsinline 
controls 
autoplay 
muted
loop
class="drop-light"
width="600"
disablePictureInPicture="false" 
style="pointer-events: none;" 
preload="true">
    <source src="/assets/videos/drop-light-v1.webm"
            type="video/webm">

    <source src="/assets/videos/drop-light-v1.mp4"
            type="video/mp4">
</video>
</div>

{% include "partials/svg-falls.njk" %}

{% include "partials/svg-falls-left.njk" %}

{# {% include "partials/text-animate.njk" %} #}

{# <img class="layer-1" src="/assets/images/SVG/bg-large-falls.svg" alt="background large"/> #}
{# <img class="layer-2" src="/assets/images/SVG/bg-large-falls.svg" alt="background large"/> #}
