<section class="section-page">
    <div>
    <h2 class="heading-big"><span class="emphasys">Vente</span> de tous les <span class="emphasys">animaux</span> et le <span class="emphasys">matériel</span> nécessaire à notre <span class="emphasys">magasin</span>
</h2>
    <p>
        Nos spécialistes sont à votre disposition vous conseiller. Que vous soyez débutants ou passionnés depuis de nombreuses années, nous pouvons vous aider à faire de votre aquarium un lieu sain et équilibré pour vos animaux. Nous travaillons avec les meilleures fournisseurs pour vous offrir la qualité au meilleur prix.
    </p>    
    <a href="{{ "/entretien/" | url}}" class="calltoaction">Decouvrir notre selection</a>
    </div>
    <div>
        <img src="./assets/images/round.png"/>
    </div> 
</section>