<div class="logo"><a href="{{ '/' | url }}"><img src="/assets/images/maximum-marine-white.svg" alt="Maximum Marine" height="76" width="270"/></a></div>
<nav role="navigation" id="menu">
    <div id="menuToggle">
      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>
      
      <ul>
          {%- for entry in collections.all | eleventyNavigation %}
          <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </div>
</nav>