<svg id="text-layer-1" class="svgtext" width="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1000 200">
  <path id="text-curve11" d="M 0 100 Q 250 0 500 100 Q 750 200 1000 100" fill="none"></path>
  <text>
    <textPath id="animatetext1" speed="1" fowardletter="A" reverseletter="B" href="#text-curve11" startOffset="-500">
      A
    </textPath>
  </text>
</svg>

<svg id="text-layer-7" class="svgtext" width="100%" preserveAspectRatio="xMidYMid meet" viewBox="-15 -15 1000 200">
  <path id="text-curve17" d="M 0 100 Q 250 0 500 100 Q 750 200 1000 100" fill="none"></path>
  <text>
    <textPath id="animatetext7" speed="1" fowardletter="A" reverseletter="B" href="#text-curve17" startOffset="-500">
      A
    </textPath>
  </text>
</svg>

<svg id="text-layer-2" class="svgtext" width="100%" preserveAspectRatio="xMidYMid meet" viewBox="-25 -50 1000 200">
  <path id="text-curve12" d="M 0 100 Q 250 0 500 100 Q 750 200 1000 100" fill="none"></path>
  <text>
    <textPath id="animatetext2" speed="1" fowardletter="A" reverseletter="B" href="#text-curve12" startOffset="-500">
      A
    </textPath>
  </text>
</svg>

<svg id="text-layer-3" class="svgtext" width="100%" preserveAspectRatio="xMidYMid meet" viewBox="-25 -75 1000 200">
  <path id="text-curve13" d="M 0 100 Q 250 0 500 100 Q 750 200 1000 100" fill="none"></path>
  <text>
    <textPath id="animatetext3" speed="1.01" fowardletter="A" reverseletter="B" href="#text-curve13" startOffset="-500">
      A
    </textPath>
  </text>
</svg>

<svg id="text-layer-4" class="svgtext" width="100%" preserveAspectRatio="xMidYMid meet" viewBox="-52 -58 1000 200">
  <path id="text-curve14" d="M 0 100 Q 250 0 500 100 Q 750 200 1000 100" fill="none"></path>
  <text>
    <textPath id="animatetext4" speed="1.01" fowardletter="A" reverseletter="B" href="#text-curve14" startOffset="-500">
      A
    </textPath>
  </text>
</svg>

<svg id="text-layer-5" class="svgtext" width="100%" preserveAspectRatio="xMidYMid meet" viewBox="-63 -68 1000 200">
  <path id="text-curve15" d="M 0 100 Q 250 0 500 100 Q 750 200 1000 100" fill="none"></path>
  <text>
    <textPath id="animatetext5" speed="1.01" fowardletter="A" reverseletter="B" href="#text-curve15" startOffset="-500">
      A
    </textPath>
  </text>
</svg>

<svg id="text-layer-8" class="svgtext" width="100%" preserveAspectRatio="xMidYMid meet" viewBox="-43 -64 1000 200">
  <path id="text-curve8" d="M 0 100 Q 250 0 500 100 Q 750 200 1000 100" fill="none"></path>
  <text>
    <textPath id="animatetext8" speed="1.01" fowardletter="A" reverseletter="B" href="#text-curve18" startOffset="-500">
      A
    </textPath>
  </text>
</svg>

<svg id="text-layer-9" class="svgtext" width="100%" preserveAspectRatio="xMidYMid meet" viewBox="-53 -48 1000 200">
  <path id="text-curve9" d="M 0 100 Q 250 0 500 100 Q 750 200 1000 100" fill="none"></path>
  <text>
    <textPath id="animatetext9" speed="1.015" fowardletter="A" reverseletter="B" href="#text-curve19" startOffset="-500">
      A
    </textPath>
  </text>
</svg>

<svg id="text-layer-10" class="svgtext" width="100%" preserveAspectRatio="xMidYMid meet" viewBox="-33 -73 1000 200">
  <path id="text-curve10" d="M 0 100 Q 250 0 500 100 Q 750 200 1000 100" fill="none"></path>
  <text>
    <textPath id="animatetext10" speed="1.018" fowardletter="A" reverseletter="B" href="#text-curve10" startOffset="-500">
      A
    </textPath>
  </text>
</svg>